<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fema.edu.br.femaapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".Geral.TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aluno.TelaMenualuno" />
        <activity android:name=".Professor.TelaLoginProfessor" />
        <activity android:name=".Aluno.TelaLoginAluno" />
        <activity android:name=".Professor.TelaMenuprofessor" />
        <activity android:name=".Aluno.TelaNotaseFaltas" />
        <activity android:name=".Aluno.TelaBoletos" />
        <activity android:name=".Aluno.TelaDependencia" />
        <activity android:name=".Aluno.TelaHorarios" />
        <activity android:name=".Aluno.TelaMonografia" />
        <activity android:name=".Aluno.TelaContratos" />
        <activity android:name=".FazerChamada" />
        <activity android:name=".LancarNotas" />
        <activity android:name=".TelaInformacoesAluno"></activity>
    </application>

</manifest>